
.App {
  background-image: url('../img/BackgroundImg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

.AppName {
  font-family: 'Patua One', cursive;
  font-size: 12vh;
  margin-top: 0;
  padding: 20px;
  border: none;
}

.homepage-content {
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 70vh;
  max-width: 55%;
}

.homepage-link {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  display: inline-block;
  margin-left: 35vw;
  padding: 1vw;
}

.link-one {
  padding-right: .75em;
}
