h1, h2, p {
  margin-top: 0;
  padding: 25px;
}

.category-background {
  background-image: url('../img/mainPhoto.jpeg');
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.content {
  width: 40vw;
  margin: 0 auto;
  background-color: #f5f5f5af;
  border-radius: 15px;
  padding: 15px;
}

.no-bkg-content {
  width: 40vw;
  margin: 0 auto;
}

#no-margin {
  margin-top: 0;
  padding: 20px;
  border: none;
}