.content-background {
  width: 40vw;
  margin: 0 auto;
  background-color: #f5f5f5d9;
  border-radius: 15px;
  padding: 15px;
  position: relative;
}

.content2 {
  width: 35vw;
  position: relative;
  margin: 0 600px 0 400px;
  margin: 0 auto;
}

mapContainer {
  width: 90vw;
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}