.form-id{
    /* margin: 0 auto; */
    max-width: 300px;
    font-family: 'Patua One', cursive;
}
.input-newlist {
    font-family: 'Patua One', cursive;
    color: black;
    margin-top: 0;
}
.pTag {
    color: white;
}
.background {
    background-image: url('../img/mainPhoto.jpeg');
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    text-align:center;
}
.newlist-item {
    width: 30vw;
    margin: 0 auto;
    background-color: #f5f5f5d9;
    border-radius: 15px;
    padding: 15px;
}